# some files to ignore
*.pdf
*.png
*.zip
*.svg
*.err
*.out


# Data to ignore
data/cellseez.csv
data/full_data_inds.csv.gz
data/megamove_v21_metadatamore_taxa.csv
data/megamove_v21_timecell_format0.csv
data/Proyecto EEZ

# Continental shelf and EEZ shapefiles
data/Continents/
data/EEZ shapefile/

# Percolation results
percolation/random/
percolation/Strat1/
percolation/Strat2/
percolation/Strat1Eco/
percolation/Strat2Eco/
percolation/Game
percolation/Diversity
outdated/

percolation/comb_prob/problemas.txt
